<form method="post" action="{{ path('app_entrepot_delete', {'entrepotid': entrepot.entrepotid}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ entrepot.entrepotid) }}">
    <button class="btn btn-danger">Delete</button>
</form>
