{% include "front/header.html.twig" %}
{% block inside %}
    <h1>Hello world!</h1>
    <script>
    const eventSource = new EventSource("{{ mercure('chat/messages')|escape('js') }}");
eventSource.onmessage = event => {
    // Will be called every time an update is published by the server
    console.log(JSON.parse(event.data));
}
</script>
{% endblock %}
{% include "front/footer.html.twig" %}














